extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/', method='POST')
    p Player 1: 
      input(type='text', name='player1', value='')
    p Player 2: 
      input(type='text', name='player2', value='')
    input(type='submit', value='Submit')

  p Result: #{player1} matches #{player2} #{matchScore}%

  a(href='/upload') Upload File
  
    
